.pill-violet{
    transition: 2s;
    &:hover{
        transform: scale(1.5);
    }
}

.pill-yellow{
    transition: 2s;
    &:hover{
        transform: scale(1.5);
    }
}  

.pill-green{
    transition: 2s;
    &:hover{
        transform: scale(1.5);
    }
}
        
.pill-turquesa{
    transition: 2s;
    &:hover{
        transform: scale(1.5);
    }
}

.loading{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.095);
    z-index: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    > i{
        color: rgb(50, 47, 47);
        font-size: 64px;
        animation-name: rotate;
        animation-duration: .5s;
        animation-iteration-count: infinite;
    }
}

@keyframes rotate{
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}

.circulo-pill{
  &:hover{
    transition: 1.5s;
    transform: rotate(360deg);
  }  
}
