
%tarjeta{
    font-size: 20px;
    text-align: center;
}

%Footer-text{
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
}